<!DOCTYPE html>
<%
	let htmlclasses = "";
	if (theme.enable_amoled_dark){
		htmlclasses += "amoled-dark ";
	}
	if (theme.card_shadow == 'big'){
		htmlclasses += 'use-big-shadow ';
	}
	if (theme.font == 'serif'){
		htmlclasses += 'use-serif ';
	}
	htmlclasses += 'article-header-style-' + theme.article_header_style;
%>
<html class="<%= htmlclasses %>">
<head>
	<%
		let title = config.title;
		if (page.title){
			title = page.title + " - " + title;
		}else if (is_tag()){
			title = "标签 : " + page.tag + " - " + title;
		}else if (is_category()){
			title = "分类 : " + page.category + " - " + title;
		}else if (is_archive()){
			if (page.year){
				title = "归档 : " + page.year + (page.month == undefined ? '' : '/' + page.month) + " - " + title;
			}else{
				title = "归档 - " + title;
			}
		}
	%>
	<title><%= title %></title>
	<meta charset="utf-8">
	<% if (theme.enable_mobile_scale) { %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<% }else{ %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<% } %>
	<%- open_graph() %>

	<meta name="theme-color" content="<%= theme.theme_color %>">
	<meta name="theme-color-rgb" content="<%= hex2str(theme.theme_color) %>">
	<meta name="theme-color-origin" content="<%= theme.theme_color %>">
	<meta name="argon-enable-custom-theme-color" content="<%= theme.show_customize_theme_color_picker %>">
	<meta name="theme-card-radius" content="<%= theme.card_radius %>">
	<meta name="theme-version" content="<%= argon_version() %>">
	<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

	<%- css('/assets/argon_css_merged.css') %>
	<%- css('/style.css') %>
	<%- css('//fonts.loli.net/css?family=Open+Sans:300,400,600,700|Noto+Serif+SC:300,600&display=swap') %>
	<%- js('/assets/argon_js_merged.js') %>
	<%- js('/assets/js/argon.min.js') %>
	<%- js('//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js') %>

	<% if (theme.gitalk.enable) { %>
		<%- css('//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css') %>
		<%- js('//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js') %>
	<% } %>

	<script>
		var argonConfig = {
			language: "zh_CN",
			<% if (theme.enable_zoomify != false){ %>
				zoomify: {
					duration: <%= theme.zoomify_duration %>,
					easing: "<%= theme.zoomify_easing %>",
					scale: <%= theme.zoomify_scale %>
				},
			<% } else { %>
				zoomify: false,
			<% } %>
			pangu: "<%= theme.enable_pangu %>",
			<% if (theme.enable_lazyload != false){ %>
				lazyload: {
					threshold: <%= theme.lazyload_threshold %>,
					effect: "<%= theme.lazyload_effect %>"
				},
			<% } else { %>
				lazyload: false,
			<% } %>
			disable_pjax: <%= theme.pjax_disabled %>,
			headroom: <%= theme.enable_headroom %>
		}
	</script>
	<script>
		var darkmodeAutoSwitch = "<%= theme.darkmode_autoswitch %>";
		function setDarkmode(enable){
			if (enable == true){
				$("html").addClass("darkmode");
			}else{
				$("html").removeClass("darkmode");
			}
			$(window).trigger("scroll");
		}
		function toggleDarkmode(){
			if ($("html").hasClass("darkmode")){
				setDarkmode(false);
				sessionStorage.setItem("Argon_Enable_Dark_Mode", "false");
			}else{
				setDarkmode(true);
				sessionStorage.setItem("Argon_Enable_Dark_Mode", "true");
			}
		}
		if (sessionStorage.getItem("Argon_Enable_Dark_Mode") == "true"){
			setDarkmode(true);
		}
		function toggleDarkmodeByPrefersColorScheme(media){
			if (sessionStorage.getItem('Argon_Enable_Dark_Mode') == "false" || sessionStorage.getItem('Argon_Enable_Dark_Mode') == "true"){
				return;
			}
			if (media.matches){
				setDarkmode(true);
			}else{
				setDarkmode(false);
			}
		}
		function toggleDarkmodeByTime(){
			if (sessionStorage.getItem('Argon_Enable_Dark_Mode') == "false" || sessionStorage.getItem('Argon_Enable_Dark_Mode') == "true"){
				return;
			}
			let hour = new Date().getHours();
			if (hour < 7 || hour >= 22){
				setDarkmode(true);
			}else{
				setDarkmode(false);
			}
		}
		if (darkmodeAutoSwitch == 'system'){
			var darkmodeMediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
			darkmodeMediaQuery.addListener(toggleDarkmodeByPrefersColorScheme);
			toggleDarkmodeByPrefersColorScheme(darkmodeMediaQuery);
		}
		if (darkmodeAutoSwitch == 'time'){
			toggleDarkmodeByTime();
		}
		if (darkmodeAutoSwitch == 'alwayson'){
			setDarkmode(true);
		}

		function toggleAmoledDarkMode(){
			$("html").toggleClass("amoled-dark");
			if ($("html").hasClass("amoled-dark")){
				localStorage.setItem("Argon_Enable_Amoled_Dark_Mode", "true");
			}else{
				localStorage.setItem("Argon_Enable_Amoled_Dark_Mode", "false");
			}
		}
		if (localStorage.getItem("Argon_Enable_Amoled_Dark_Mode") == "true"){
			$("html").addClass("amoled-dark");
		}else if (localStorage.getItem("Argon_Enable_Amoled_Dark_Mode") == "false"){
			$("html").removeClass("amoled-dark");
		}
	</script>
	<script>
		if (navigator.userAgent.indexOf("Safari") !== -1 && navigator.userAgent.indexOf("Chrome") === -1){
			$("html").addClass("using-safari");
		}
	</script>

	<% if (theme.smoothscroll == '2'){ %>
		<%- js('/assets/vendor/smoothscroll/smoothscroll2.js') %>
	<% }else if (theme.smoothscroll == '3'){ %>
		<%- js('/assets/vendor/smoothscroll/smoothscroll3.min.js') %>
	<% }else if (theme.smoothscroll == '1_pulse'){ %>
		<%- js('/assets/vendor/smoothscroll/smoothscroll1_pulse.js') %>
	<% }else if (theme.smoothscroll != 'disabled'){ %>
		<%- js('/assets/vendor/smoothscroll/smoothscroll1.js') %>
	<% } %>
</head>

<%- theme.custom_html_head %>

<style id="themecolor_css">
	<%
		let themecolor_rgbstr = hex2str(theme.theme_color);
		let RGB = hex2rgb(theme.theme_color);
		let HSL = rgb2hsl(RGB['R'], RGB['G'], RGB['B']);

		let RGB_dark0 = hsl2rgb(HSL['h'], HSL['s'], Math.max(HSL['l'] - 0.025, 0));
		let themecolor_dark0 = rgb2hex(RGB_dark0['R'],RGB_dark0['G'],RGB_dark0['B']);

		let RGB_dark = hsl2rgb(HSL['h'], HSL['s'], Math.max(HSL['l'] - 0.05, 0));
		let themecolor_dark = rgb2hex(RGB_dark['R'], RGB_dark['G'], RGB_dark['B']);

		let RGB_dark2 = hsl2rgb(HSL['h'], HSL['s'], Math.max(HSL['l'] - 0.1, 0));
		let themecolor_dark2 = rgb2hex(RGB_dark2['R'],RGB_dark2['G'],RGB_dark2['B']);

		let RGB_dark3 = hsl2rgb(HSL['h'], HSL['s'], Math.max(HSL['l'] - 0.15, 0));
		let themecolor_dark3 = rgb2hex(RGB_dark3['R'],RGB_dark3['G'],RGB_dark3['B']);

		let RGB_light = hsl2rgb(HSL['h'], HSL['s'], Math.min(HSL['l'] + 0.1, 1));
		let themecolor_light = rgb2hex(RGB_light['R'],RGB_light['G'],RGB_light['B']);
	%>
	:root{
		--themecolor: <%= theme.theme_color %>;
		--themecolor-dark0: <%= themecolor_dark0 %>;
		--themecolor-dark: <%= themecolor_dark %>;
		--themecolor-dark2: <%= themecolor_dark2 %>;
		--themecolor-dark3: <%= themecolor_dark3 %>;
		--themecolor-light: <%= themecolor_light %>;
		--themecolor-rgbstr: <%= themecolor_rgbstr %>;
		--themecolor-gradient: linear-gradient(150deg,var(--themecolor-light) 15%, var(--themecolor) 70%, var(--themecolor-dark0) 94%);

	}
</style>
<style id="theme_cardradius_css">
	:root{
		--card-radius: <%= theme.card_radius %>px;
	}
</style>

<body>
<div id="toolbar">
	<header class="header-global">
		<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light bg-primary headroom--not-bottom headroom--not-top headroom--pinned">
			<div class="container">
				<% if (theme.toolbar_icon != '') { %>
					<a class="navbar-brand navbar-icon mr-lg-5" href="<%= theme.toolbar_icon_link %>">
						<img src="<%= theme.toolbar_icon %>">
					</a>
				<% } %>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="<%= url_for('/') %>"><%= (theme.toolbar_title == '' ? config.title : theme.toolbar_title) %></a>
				<div class="navbar-collapse collapse" id="navbar_global">
					<div class="navbar-collapse-header">
						<div class="row">
							<div class="col-6 collapse-brand"></div>
							<div class="col-6 collapse-close">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
									<span></span>
									<span></span>
								</button>
							</div>
						</div>
					</div>
					<ul id="navbar_search_btn_mobile" class="navbar-nav align-items-lg-center ml-lg-auto">
						<li class="nav-item" data-toggle="modal" data-target="#argon_search_modal" style="padding-left: 5px;">
							<a class="nav-link nav-link-icon">
								<i class="fa fa-search"></i>
								<span class="nav-link-inner--text d-lg-none">搜索</span>
							</a>
						</li>
					</ul>
					<%
						if (theme.toolbar_menu != false) { %>
							<ul class='navbar-nav navbar-nav-hover align-items-lg-center'>
								<%
									for (let i in theme.toolbar_menu){ %>
										<li class='nav-item<%= (typeof(theme.toolbar_menu[i]) == "object" ? " dropdown" : "") %>'>
											<a href='<%= (typeof(theme.toolbar_menu[i]) == "object" ? "" : url_for(theme.toolbar_menu[i])) %>' class='nav-link' <%- (typeof(theme.toolbar_menu[i]) == "object" ? "onclick='return false;' data-toggle='dropdown' no-pjax" : "") %>>
												<i class='ni ni-book-bookmark d-lg-none'></i>
												<span class='nav-link-inner--text'><%= i %></span>
											</a>
											<%
												if (typeof(theme.toolbar_menu[i]) == "object"){ %>
													<div class="dropdown-menu">
														<% for (let j in theme.toolbar_menu[i]){ %>
															<a href='<%= url_for(theme.toolbar_menu[j]) %>' class='dropdown-item'><%= j %></a>
														<% } %>
													</div>
												<% }
											%>
										</li>
									<%}
								%>
							</ul>
						<% }
					%>
					<ul class="navbar-nav align-items-lg-center ml-lg-auto">
						<li class="nav-item" data-toggle="modal" data-target="#argon_search_modal" id="navbar_search_btn_pc">
							<a class="nav-link nav-link-icon">
								<i class="fa fa-search"></i>
								<span class="nav-link-inner--text d-lg-none">搜索</span>
							</a>
						</li>
					</ul>
				</div>
				<% if (theme.toolbar_icon != '') { %>
					<a class="navbar-brand navbar-icon-mobile" href="<%= theme.toolbar_icon_link %>">
						<img src="<%= theme.toolbar_icon %>">
					</a>
				<% } %>
				<div id="navbar_menu_mask" data-toggle="collapse" data-target="#navbar_global"></div>
			</div>
		</nav>
	</header>
</div>
<div class="modal fade" id="argon_search_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">搜索</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<%- include('searchform.ejs') %>
			</div>
		</div>
	</div>
</div>
<!--Banner-->
<section id="banner" class="banner section section-lg section-shaped">
	<div class="shape <%= theme.banner_background_hide_shapes ? '' : 'shape-style-1' %> <%= theme.banner_background_color_type %>">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

	<%
		let banner_title = theme.banner_title == '' ? config.title : theme.banner_title;
		let enable_banner_title_typing_effect = theme.enable_banner_title_typing_effect;
	%>
	<div id="banner_container" class="banner-container container text-center">
		<% if (enable_banner_title_typing_effect != true){ %>
			<div class="banner-title text-white"><span class="banner-title-inner"><%= banner_title %></span>
		<% } else { %>
			<div class="banner-title text-white" data-text="<%= banner_title; %>" data-interval="<% theme.banner_typing_effect_interval %>"><span class="banner-title-inner">&nbsp;</span>
		<% } %>
		<%- theme.banner_subtitle == '' ? '' : ('<span class="banner-subtitle d-block">' + theme.banner_subtitle + '</span>') %></div>
	</div>
	<% if (theme.banner_background_url != '') { %>
		<style>
			section.banner{
				background-image: url(<%= theme.banner_background_url %>) !important;
			}
		</style>
	<% } %>
</section>

<% if (theme.page_background_url != ''){ %>
	<style>
		#content:before {
			content: '';
			display: block;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -2;
			background: url(<%= theme.page_background_url %>);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: <%= theme.page_background_opacity %>;
			transition: opacity .5s ease;
		}
		html.darkmode #content:before{
			filter: brightness(0.65);
		}
		<% if (theme.page_background_dark_url != ''){ %>
			#content:after {
				content: '';
				display: block;
				position: fixed;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: -2;
				background: url(<%= theme.page_background_dark_url %>);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				opacity: 0;
				transition: opacity .5s ease;
			}
			html.darkmode #content:after {
				opacity: <%= theme.page_background_opacity %>;
			}
			html.darkmode #content:before {
				opacity: 0;
			}
		<% } %>
		<% if (theme.transparent_banner) { %>
			#banner, #banner .shape {
				background: transparent !important;
			}
		<% } %>
	</style>
<% } %>

<% if (theme.show_toolbar_mask) { %>
	<style>
		#banner:after {
			content: '';
			width: 100vw;
			position: absolute;
			left: 0;
			top: 0;
			height: 120px;
			background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.15) 35%, rgba(0,0,0,0) 100%);
			display: block;
			z-index: -1;
		}
		.banner-title {
			text-shadow: 0 5px 15px rgba(0, 0, 0, .2);
		}
	</style>
<% } %>

<div id="float_action_buttons" class="float-action-buttons fabtns-unloaded">
	<button id="fabtn_toggle_sides" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" aria-hidden="true" tooltip-move-to-left="移至左侧" tooltip-move-to-right="移至右侧">
		<span class="btn-inner--icon fabtn-show-on-right"><i class="fa fa-caret-left"></i></span>
		<span class="btn-inner--icon fabtn-show-on-left"><i class="fa fa-caret-right"></i></span>
	</button>
	<button id="fabtn_back_to_top" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" aria-label="Back To Top" tooltip="回到顶部">
		<span class="btn-inner--icon"><i class="fa fa-angle-up"></i></span>
	</button>
	<button id="fabtn_go_to_comment" class="btn btn-icon btn-neutral fabtn shadow-sm d-none" type="button" <-% theme.fab_show_gotocomment_button ? "" : "style='display: none;'" %> aria-label="Comment" tooltip="评论">
		<span class="btn-inner--icon"><i class="fa fa-comment-o"></i></span>
	</button>
	<button id="fabtn_toggle_darkmode" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" <-% theme.fab_show_darkmode_button ? "" : "style='display: none;'" %> aria-label="Toggle Darkmode" tooltip-darkmode="夜间模式" tooltip-blackmode="暗黑模式" tooltip-lightmode="日间模式">
		<span class="btn-inner--icon"><i class="fa fa-moon-o"></i><i class='fa fa-lightbulb-o'></i></span>
	</button>
	<button id="fabtn_toggle_blog_settings_popup" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" <-% theme.fab_show_settings_button ? "" : "style='display: none;'" %> aria-label="Open Blog Settings Menu" tooltip="设置">
		<span class="btn-inner--icon"><i class="fa fa-cog"></i></span>
	</button>
	<div id="fabtn_blog_settings_popup" class="card shadow-sm" style="opacity: 0;" aria-hidden="true">
		<div id="close_blog_settings"><i class="fa fa-close"></i></div>
		<div class="blog-setting-item mt-3">
			<div style="transform: translateY(-4px);"><div id="blog_setting_toggle_darkmode_and_amoledarkmode" tooltip-switch-to-darkmode="切换到夜间模式" tooltip-switch-to-blackmode="切换到暗黑模式"><span>夜间模式</span><span>暗黑模式</span></div></div>
			<div style="flex: 1;"></div>
			<label id="blog_setting_darkmode_switch" class="custom-toggle">
				<span class="custom-toggle-slider rounded-circle"></span>
			</label>
		</div>
		<div class="blog-setting-item mt-3">
			<div style="flex: 1;">字体</div>
			<div>
				<button id="blog_setting_font_sans_serif" type="button" class="blog-setting-font btn btn-outline-primary blog-setting-selector-left">Sans Serif</button><button id="blog_setting_font_serif" type="button" class="blog-setting-font btn btn-outline-primary blog-setting-selector-right">Serif</button>
			</div>
		</div>
		<div class="blog-setting-item mt-3">
			<div style="flex: 1;">阴影</div>
			<div>
				<button id="blog_setting_shadow_small" type="button" class="blog-setting-shadow btn btn-outline-primary blog-setting-selector-left">浅阴影</button><button id="blog_setting_shadow_big" type="button" class="blog-setting-shadow btn btn-outline-primary blog-setting-selector-right">深阴影</button>
			</div>
		</div>
		<div class="blog-setting-item mt-3 mb-3">
			<div style="flex: 1;">滤镜</div>
			<div id="blog_setting_filters" class="ml-3">
				<button id="blog_setting_filter_off" type="button" class="blog-setting-filter-btn ml-0" filter-name="off">关闭</button>
				<button id="blog_setting_filter_sunset" type="button" class="blog-setting-filter-btn" filter-name="sunset">日落</button>
				<button id="blog_setting_filter_darkness" type="button" class="blog-setting-filter-btn" filter-name="darkness">暗化</button>
				<button id="blog_setting_filter_grayscale" type="button" class="blog-setting-filter-btn" filter-name="grayscale">灰度</button>
			</div>
		</div>
		<div class="blog-setting-item mb-3">
			<div id="blog_setting_card_radius_to_default" style="cursor: pointer;" tooltip="恢复默认">圆角</div>
			<div style="flex: 1;margin-left: 20px;margin-right: 8px;transform: translateY(2px);">
				<div id="blog_setting_card_radius"></div>
			</div>
		</div>
		<% if (theme.show_customize_theme_color_picker){ %>
			<div class="blog-setting-item mt-1 mb-3">
				<div style="flex: 1;">主题色</div>
				<div id="theme-color-picker" class="ml-3"></div>
			</div>
		<% } %>
	</div>
	<button id="fabtn_open_sidebar" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" aria-label="Open Sidebar Menu" tooltip="菜单">
		<span class="btn-inner--icon"><i class="fa fa-bars"></i></span>
	</button>
	<button id="fabtn_reading_progress" class="btn btn-icon btn-neutral fabtn shadow-sm" type="button" aria-hidden="true" tooltip="阅读进度">
		<div id="fabtn_reading_progress_bar" style="width: 0%;"></div>
		<span id="fabtn_reading_progress_details">0%</span>
	</button>
</div>

<div id="content" class="site-content">

<% if (theme.waline.enable) { %>
	<script src="https://cdn.jsdelivr.net/npm/@waline/client"></script>
<% } %>

<% if (theme.baidu_analytics.enable) { %>
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?<%= theme.baidu_analytics.id %>" ;
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
		
<% } %>

<% if (theme.gtag.enable) { %>
<script async src="<%= 'https://www.googletagmanager.com/gtag/js?id=' + theme.gtag.id %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= theme.gtag.id %>');
</script>
<% } %>

